#wx {
	font-family: sans-serif, Helvetica, Arial, Geneva, Swiss, SunSans-Regular;
	font-size: 88%;
	margin-left: 0px;
	margin-right: 0px;
}
#wxwarning {
	color: #e33;
	font-weight: bold;
}

.wxflag {
	width: 100%;
	background-color: #bbd;
	padding: 10px 10px;
	font-weight: bold;
	/*! margin: 10px; */
	min-height: 120px;
}
.wxflag h1 {
	font-size: 171%;
	padding-bottom: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.wxflag h2 {
	font-size: 143%;
	padding-bottom: 3px;
	margin-bottom: 0px;
}
.wxflag h3 {
	font-size: 124%;
	padding-top: 2px;
	margin-top: 0px;
}
.wxflag h4 {
	font-size: 100%;
	padding-top: 2px;
	margin-top: 0px;
	padding-bottom: 2px;
	margin-bottom: 0px;
}

.wxdesc {
	width: 100%;
	background-color: #bbd;
	padding: 10px 10px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.wximage {
	display: block;
	float: left;
	background-color: #dde;
	padding: 10px 10px;
	margin: 10px auto;
}
.wximagetitle h2, .wximagetitle h3, .wximagetitle h4 {
	margin-top: 0px;
	margin-bottom: 3px;
	text-align: center;
}
.wximagetitle h2 {
	font-size: 143%;
}
.wximagetitle h3 {
	font-size: 124%;
}
.wximagetitle h4 {
	font-size: 100%;
}
.wxinfo {
	background-color: #dde;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	text-align: left;
}
.wxinfo td, .wxinfo th {
	margin: 0px;
	padding: 1px;
	padding-right: 10px;
	border: 0px;
}
.wxschedule {
	display: block;
	float: left;
	background-color: #dde;
	border-collapse: collapse;
	padding: 10px 20px;
	margin: 10px;
}
.wxschedule td {
	padding: 10px;
}
.wxschedlist {
	background-color: #dde;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.wxschedlist td, .wxschedlist th {
	margin: 0px;
	padding: 4px 8px;
	border: 1px solid #888;
}
